
//Color variables
$color-primary:#4a90e2;
$color-primary-light: #4a90e2;
$color-primary-light-2: #9cedfb20;
$color-primary-dark:#203568;
$color-gray-dark: #777;
$color-white: #fff;
$color-black: rgb(48, 48, 48);

$color-grey-light-1: #f7f7f7;
$default-font-size: 1.6rem;

