@import './_variables.scss';

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
  font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: $color-gray-dark;
}

body {
}